<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

     <title>{% block title %}KATATONIA fan website{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('yourFavIcon.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script> 

    </head>
    <body>
    
        <div id="wrapper" class="toggled">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="nv-link1" href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> ACCUEIL
                    </a>
                </li>
                </br></br>
                <li>
                    <a class="nv-link" href="./index"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>  Tableau de bord</a>
                </li>
                <li>
                    <a class="nv-link" href="./biographie"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Biographie</a>
                </li>
                <li>
                    <a class="nv-link" href="./discographie"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>  Discographie</a>
                </li>
                <li>
                    <a class="nv-link" href="./chroniques"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>  Chroniques</a>
                </li>
                <li>
                    <a class="nv-link" href="./interviews"><span class=" glyphicon glyphicon-sunglasses" aria-hidden="true"></span>  Interviews</a>
                </li>
                <li>
                    <a class="nv-link" href="./tours"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>  Tours</a>
                </li>
                <li>
                    <a class="nv-link" href="./comment"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>  Posts</a>
                </li>
                <li>
                    <a class="nv-link" href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Contact</a>
                </li></br></br></br></br></br>
                <li>
                    <a class="nv-link" href="./connect">
                        <div class="deconnexion"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Se déconnecter</a>
                        </div>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><img class="gif" src="{{ asset('img/aniarm.gif') }}" align="left">{#<span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>#} Menu</a>
                </br>
                    <h4><img src="{{ asset('img/Katatonia_logo.png') }}" class="katatonia_small_logo"></h4>
                    <p>
                        <a href="https://fr.wikipedia.org/wiki/Katatonia"><font color="black">Il était une fois un groupe en Suède...</font></a>
                    </p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <a href="https://twitter.com/KatatoniaBand" class="social-link fa fa-twitter-square fa-3x"></a>
                    <a href="https://www.instagram.com/katatoniaband" class="social-link fa fa-instagram fa-3x"></a>
                    <a href="https://www.facebook.com/katatonia" class="social-link fa fa-facebook-square fa-3x"></a>
                    <a href="https://plus.google.com/100530895418529487860/posts" class="social-link fa fa-google-plus-square fa-3x"></a>
                    <a href="https://play.spotify.com/artist/2CWWgbxApjbyByxBBCvGTm?play=true&utm_source=open.spotify.com&utm_medium=open" class="social-link fa fa-spotify fa-3x"></a>
                    <a href="https://www.youtube.com/watch?v=IIGBNc2nFZA&list=PLxsON2ToJlc4iWILkjDvklr1PnQO9x30n" class="social-link fa fa-youtube-square fa-3x"></a>
                    <a href="https://soundcloud.com/katatonia" class="social-link fa fa-soundcloud fa-3x"></a>
                </div>
                </br>
                </br>
                </br>
                </br>
                <div>
                       <!-- Trigger/Open The Modal -->
                        <button id="myBtn"><span class="glyphicon glyphicon-hand-right"></span>Votez pour votre album préféré !<span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                          <!-- Modal content -->
                          <div class="modal-content">
                            <div class="modal-header">
                              <span class="close"><font color="white">X</font></span>
                              <h2>Votez pour votre album préféré ! <span class="glyphicon glyphicon-cd iconemodal" aria-hidden="true"></span></h2>
                            </div>
                            <div class="modal-body">
                                <select class="select" placeholder="menu">
                                    <option class="placeholder">Liste des albums</option>
                                    <option>The Fall Of Hearts (album studio)</option>
                                    <option>Sanctitude (album live)</option>
                                    <option>Dethroned and Uncrowned (album studio/remixes)</option>
                                    <option>Last Fair Day Gone Night (album live)</option>
                                    <option>Dead End Kings (album studio)</option>
                                    <option>Night Is The New Day (album studio)</option>
                                    <option>Live Consternation (album live)</option>
                                    <option>The Great Cold Distance (album studio)</option>
                                    <option>Viva Emptiness (album studio)</option>
                                    <option>Last Fair Deal Gone Down (album studio)</option>
                                    <option>Tonight's Decision (album studio)</option>
                                    <option>Discouraged Ones (album studio)</option>
                                    <option>Brave Murder Day (album studio)</option>
                                    <option>Dance Of December Souls (album studio)</option>
                                </select></br></br>
                        <div class="btn-vote"><input type="submit" class="btn btn-danger" text-align: "center" value="Vote">
                        </div></br>
                            </div>
                            <div class="modal-footer">
                              <h3>Résultat du vote à la rubrique "Discographie"</h3>
                            </div>
                          </div>

                        </div>

                        <script>
                        // Get the modal
                        var modal = document.getElementById('myModal');

                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");

                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];

                        // When the user clicks the button, open the modal 
                        btn.onclick = function() {
                            modal.style.display = "block";
                        }

                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                            modal.style.display = "none";
                        }

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                        </script>


                </div>
                                        
            </div>
        </div>
    </div>
</div>
        <!-- /#page-content-wrapper -->
     
        {#  </div>  balise fermante de <div id="sidebar-wrapper"> afin de ne pas masquer le body de chaque page par la sidebar par défaut #}

        <!-- /#wrapper -->

{% endif %}
<div class="effet jquery">
</div>
<div id="empty-navbar">
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $("#menu-toggle").click(function()
        {
            if ($("#empty-navbar").hasClass("open"))
            {
                $("#empty-navbar").css("display", "none");
                $("#empty-navbar").removeClass("open");
            }
            else
            {
                $("#empty-navbar").css("display", "block");
                $("#empty-navbar").addClass("open");
            }
        });
        </script>
    </body>
</html>
