{% extends 'base.html.twig' %}

{% block body %}

<h1><span class="glyphicon glyphicon-cd"></span>   Discographie de KATATONIA         <span class="glyphicon glyphicon-cd azerty"></span></h1>
</br>
</br>
<h2>  Résultat du vote pour votre album préféré : ALBUM  / note :
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></h2>
</br>

<div class="albums col-lg-12">
	<div class="table offset-1-col-lg-10">
	<table>

   <tr>

       <td><img src="{{ asset('img/Sanctitude.jpg') }}" class="katatonia-sanctitude-cover"></td>

       <td><img src="{{ asset('img/Katatonia_-_Fall_Of_Hearts_-_Medium_Res_Cover.jpg') }}" class="katatonia-cover"></td>

	</tr>

 	<tr>

       <td>Sanctitude (Kscope Music/2013)</td>

       <td>The Fall Of Hearts (Peaceville Rec./2016)</td>

	</tr>
	
	<tr>

       <td><img src="{{ asset('img/Nightisthenewday.jpg') }}" class="katatonia-night-is-the-new-day-cover"></td>

       <td><img src="{{ asset('img/DeadEndKings.jpg') }}" class="katatonia-dead-end-kings-cover"></td>

       <td><img src="{{ asset('img/Last Fair Day Gone Night.jpg') }}" class="katatonia-gone-night-cover"></td>

       <td><img src="{{ asset('img/Dethroned & Uncrowned.jpg') }}" class="katatonia-dethroned-cover"></td>

	</tr>

	<tr>

       <td>Night Is The New Day (Peaceville Rec./2009)</td>

       <td>Dead End Kings (Peaceville Rec./2012)</td>

       <td>Last Fair Day Gone Night (Peaceville Rec./2013)</td>

       <td>Dethroned & Uncrowned (Kscope Music/2013)</td>

	</tr>
	</br>
	<tr>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

	</tr>

	<tr>

       <td>The Fall Of Hearts (Peaceville Rec./2016)</td>

       <td>Sanctitude (Kscope Music/2013)</td>

       <td>Dethroned & Uncrowned (Kscope Music/2013)</td>

       <td>Last Fair Day Gone Night (Peaceville Rec./2013)</td>

	</tr>

	<tr>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

       <td><img src="{{ asset('img/katatonia-euro-tour.jpeg') }}" class="katatonia-cover"></td>

	</tr>

	<tr>

       <td>The Fall Of Hearts (Peaceville Rec./2016)</td>

       <td>Sanctitude (Kscope Music/2013)</td>

       <td>Dethroned & Uncrowned (Kscope Music/2013)</td>

       <td>Last Fair Day Gone Night (Peaceville Rec./2013)</td>

 	</tr>

	</table>
	</div>
</div>




















{% endblock %}