{% extends 'base.html.twig' %}

{% block body %}

<script>
       $(document).ready(function() {
              $('.js-scrollTo').on('click', function() { // Au clic sur un élément
                     var page = $(this).attr('href'); // Page cible
                     var speed = 750; // Durée de l'animation (en ms)
                     $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
                     return false;
              });
       });
</script>

<div class="menu-bio">
    <div class="rowbio col-md-12">
       	<div class="itembio col-md-6">
       		<h1><a class="js-scrollTo" href="#ss-titre-bio"><span class="glyphicon glyphicon-cd"></span><u>BIOGRAPHIE</u></h1>
       			<img src="{{ asset('img/vinkatatonia.png') }}" class="photo-vin"></a>
       	</div>
       	<div class="itemlineup col-md-6">
       		<h1><a class="js-scrollTo" href=".photo-introducing-line-up"><span class="glyphicon glyphicon-book"></span>  <u>LINE-UP</u></h1>
       			<img src="{{ asset('img/photo-groupe-biere.png') }}" class="photo-groupe-biere"></a>
       	</div>
    </div>
</div>
<br></br>
<h1 id="ss-titre-bio"><span class="glyphicon glyphicon-user"></span>  <u>BIOGRAPHIE</u></h1>
</br></br></br></br>
{#<div class="katatonia-vin">
	{#<img src="{{ asset('img/vinkatatonia.png') }}" class="photo-vin">#}
{#</div>#}
	<div class="col-md-12 introbio">
		<div class="col-md-7 col-md-offset-1 intro">
			<p><b>Pays d'origine :</b> Suède</br>
			<b>Ville d'origine :</b> Stockholm</br>
			<b>Genre musical :</b> Doom Metal/Death Metal à ses débuts, Gothic Metal, puis Metal atmosphérique, progressif, mélancolique</br>
			<b>Date de création :</b> Depuis 1991</br>
			<b>Labels :</b> Peaceville Records, Avantgarde Music, No Fashion Records</br>
			<b>Site officiel :</b> <a href="http://www.<strong>Katatonia</strong>.com"><strong>www.katatonia.com</strong></a></br>
			<b>Line-up/Membres actuels :</b> Jonas Renkse alias "Lord Seth" (chant, guitares (studio), batterie jusqu'en 1994) ; Anders Nyström alias "Blackheim" (guitares, choeurs) ; Niklas Sandin (basse)</br></p>
			</br></br>
		</div>
		<div class="col-md-4 bloc-droite">
			<img src="{{ asset('img/Katatonia_logos.jpg') }}" class="photo-logos-groupe">
			</br></br></br>
		</div>
	</div>
<div class="col-md-12 coeurbio">
	<div class="col-md-5 photo2016">
		<img src="{{ asset('img/portfolio2016-katatonia.jpg') }}" class="photo-groupe-2016"></div>
	<div id="col-md-7 1erbloc-page">
<strong>Katatonia</strong> est un groupe de Heavy Metal suédois (au sens large), originaire de Stockholm. Formé en 1991, le groupe est d'abord ancré dans le Métal extrême (principalement Death/Doom Metal), puis fait évoluer sa musique vers un Métal plus posé et lyrique. Le groupe est considéré par la presse spécialisée comme l'un des plus influents de la scène Métal suédoise.</br></br>

Le groupe se forme en 1991 à Stockholm en Suède, et se lance avec <i>Jhva Elohim Meth</i>, un premier EP se rapprochant du Black Metal mélancolique. À cette période, le groupe n'est qu'un duo composé de Jonas Renkse au chant et à la batterie, et de Blackheim à la guitare. En 1993, le groupe enrichit sa formation, et fait paraître sur le label suédois No Fashion Records un album dans la même veine mais plus « produit » et moins instantané, <i>Dance of December Souls</i>, qui annonce un petit côté Doom Metal. L'album est enregistré entre le 3 juillet 1992 et le 9 avril 19934. En 1995, <strong>Katatonia</strong> sort l'EP <i>For Funerals to Come</i>, suivi de l'album <i>Brave Murder Day</i> dans une veine Doom/Black/Death avec Mikael Åkerfeldt, le chanteur d'Opeth, au micro. En effet, Jonas Renkse perd sa voix au moment venu de la session d'enregistrement, et Mikael Åkerfeldt est alors appelé à l'aide. Il contribue aussi à l'EP <i>Sounds of Decay</i> (Avantgarde Music),</br></div></br>


<div id="2ndbloc-page">
Par la suite, <strong>Katatonia</strong> s'oriente vers une autre direction. Jonas Renkse opte pour une voix claire et des compositions plus Rock. Le premier enregistrement à sortir sous cette forme est l'EP <i>Saw You Drown</i>, mais c'est l'album <i>Discouraged Ones</i>, le 5 mai 1998, qui immortalise ainsi le nouveau choix artistique de <strong>Katatonia</strong>. Puis sortent les albums <i>Tonight's Decision</i>, <i>Last Fair Deal Gone Down</i>, et <i>Viva Emptiness</i> (en 2003), où <strong>Katatonia</strong> opte encore pour un changement de style. Les guitares se font très bruyantes et le chant détaché. Puis vient en 2006 l'album <i>The Great Cold Distance</i>. Le groupe considère ce dernier comme leur travail le plus dynamique de leur histoire tout en contenant une certaine froideur menaçante : « Il est fait pour créer une distance entre tout et rien. » D'après Renkse, « la distance nécessaire pour voyager dans les couloirs de la frustration humaine. En écoutant cet album, l'on doit savoir qu'il ne va seulement aider qu'à augmenter la distance entre nous. C'est une vie tortueuse. Et c'est une bande-son pour ça. »</br></br>

Pour la suite, <strong>Katatonia</strong> prévoit de sortir une compilation regroupant tous les EP et raretés, ainsi qu'un DVD. Le 10 novembre 2009 sort leur nouvel album <i>Night Is the New Day</i>. Mikael Åkerfeldt (Opeth) dira de cet opus : « c'est probablement le meilleur album que j'ai écouté au cours des dix dernières années. » Peu après la sortie de l'album, Mattias et Fredrik décident de quitter le groupe fin 2009 pour des raisons personnelles. Ils seront remplacés par Per Eriksson et Niklas Sandin.</br></br>

Sur un article paru le 27 janvier 2012 sur le site officiel du groupe, <strong>Katatonia</strong> annonce son entrée en studio le 30 janvier 2012 pour débuter l'enregistrement de son prochain album dont la sortie est annoncée pour septembre 2012. Le 28 mai 2012 sur sa page Facebook, <strong>Katatonia</strong> révèle le nom du futur album ainsi que sa date de sortie. Ce nouvel album, intitulé <i>Dead End Kings</i>, sort le 27 août 2012 en Europe, et le 28 aux États-Unis. Le 20 juin 2012, la formation met une chanson du nouvel album, "Dead Letters", en ligne via leur page Facebook. Courant juillet, le groupe diffuse un extrait d'un autre morceau disponible sur YouTube intitulé "Lethean". Sur leur page Facebook, le groupe lance début 2013 une campagne afin de financer l'enregistrement de leur prochain album. Ce prochain opus, intitulé <i>Dethroned and Uncrowned</i>, sera composé des chansons de <i>Dead End Kings</i> alors complètement revisitées. L'album sort le 9 septembre 2013, et atteint la 25e place des Billboard Top Heatseekers.</br></br>

Le 17 avril 2014, Daniel Liljekvist annonce son départ, ce dernier ne pouvant plus s'investir dans le groupe compte tenu de sa situation financière.</br></br>

Pour les fans francophones du groupe à signaler l'étude de Nicolas Bénard et Robert Culat, <i><strong>Katatonia</strong>, sous un ciel de plomb</i> (aux Editions du Camion Blanc, 2015), dans laquelle est présentée une monographie culturelle du groupe (première partie) et une analyse des paroles et thématiques avec une traduction française de toutes les paroles jusqu'à <i>Dead end kings</i> (deuxième partie).</br>
Le groupe a sorti un autre album live, <i>Sanctitude</i>, le 31 Mars 2015.
Enfin le 9 Novembre 2015, le groupe annonça l'arrivée de Daniel Moilanen comme nouveau batteur et révéla qu'ils travaillent sur un nouvel album à paraître en 2016.</br></br>

Le 7 Mars 2016, il est annoncé que <strong>Katatonia</strong> sort son nouvel album <i>The Fall of Hearts</i> sur le 20 mai 2016 par l'intermédiaire de Peaceville. L'album, présentant le nouveau batteur Daniel Moilanen, est aussi le premier enregistrement réalisé avec le guitariste Roger Öjersson récemment recrutué ; ce dernier a joué de la guitare sur 3 pistes de l'album.</br></br></br>

	</div>
</div>

<div class="introducing-line-up">
		<img src="{{ asset('img/Introducing_Katatonia.jpg') }}" class="photo-introducing-line-up">
</div>

<div>
<h1><span class="glyphicon glyphicon-user"></span>  <u>LINE-UP</u></h1>
</br></br>
</div>

<div class="col-md-12 line-up">
	<div class="col-md-5 col-md-offset-1">
<li><b><u>Membres actuels :</u></b></br></br>

    <p>- Jonas Renkse – chant (1991–1994, depuis 1996), batterie, percussions (1991–1994, 1996–1998), guitare (2002–2005)</br>
    - Anders « Blakkheim » Nyström – guitare16, chœurs (1991–1994, depuis 1996), basse (1992, 1996), clavier (1997–2005)</br>
    - Niklas « Nille » Sandin – basse (depuis 2009)</br>
    - Daniel Moilanen – batterie (depuis 2015)</br>
    - Roger Öjersson – guitare (depuis 2016)</br>
	</p></br>
</li>

<li><b><u>Anciens membres :</u></b></br></br>

    <p>- Guillaume Le Huche – basse (1993–1994)</br>
    - Kristian Poock – guitare (1993)</br>
    - Fredrik « North » Norrman – guitare (1994, 1996–2009), basse (1997, 1999)</br>
    - Mikael Oretoft – basse (1997–1998)</br>
    - Mattias « Kryptan » Norrman – basse (1999–2009)</br>
    - Daniel Liljekvist – batterie, percussions (1999–2014)</br>
    - Per « Sodomizer » Eriksson – guitare rythmique et lead (2009–2014)</br>
    <p></br>
</li>

<li><b><u>Membres de session :</u></b></br></br>

    <p>- Dan Swanö – clavier, chant (1992–1993), studio drums (1999)</br>
    - Mikael Åkerfeldt – guitare (1993–1994), chant (1996–1997)</br>
    - Kennet Englund – batterie (1996)</br>
    - Bruce Soord – guitare, chant (2014)</br>
    - Tomas Åkvik – guitare (2014)</br>
    - Daniel Moilanen – batterie (2014)</br>
    <p></br>
</li>
	</div>
	<div class="col-md-5 drumkit">
	<img src="{{ asset('img/photo_drumkit.png') }}" class="photo-drumkit"></br>
	</div>
	<div class="col-md-1">
    <a href=".menu-bio" title="bas de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>
	</div>
    <script>
    ScrollToTop=function() {
      var s = $(window).scrollTop();
      if (s > 250) {
        $('.scrollup').fadeIn();
      } else {
        $('.scrollup').fadeOut();
      }
     
      $('.scrollup').click(function () {
          $("html, body").animate({ scrollTop: 0 }, 500);
          return false;
      });
    }
     
    StopAnimation=function() {
      $("html, body").bind("scroll mousedown DOMMouseScroll mousewheel keyup", function(){
        $('html, body').stop();
      });
    }
     
    $(window).scroll(function() {
      ScrollToTop();
      StopAnimation();
    });
    </script>
</div>

{% endblock %}