{% extends 'base.html.twig' %}

{% block body %}


<script>
       $(document).ready(function() {
              $('.js-scrollTo').on('click', function() { // Au clic sur un élément
                     var page = $(this).attr('href'); // Page cible
                     var speed = 750; // Durée de l'animation (en ms)
                     $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
                     return false;
              });
       });
</script>
</br></br>
<ul class="menu-disco">
       <li><a class="js-scrollTo" href="#ss-titre-disco">DISCOGRAPHIE</a></li>
       <li><a class="js-scrollTo" href="#ss-titre-biblio">BIBLIOGRAPHIE</a></li>
</ul>



<div class='conteneur col-md-12'></br></br></br></br></br>
       <div class="row2 col-md-12 ">
              <div class="col-md-1"></div>
              <div class="col-md-3 cercle">
                     <img src="{{ asset('img/katatonia_record_signing.png') }}" class="album_signing">
              </div>
              <div class="col-md-8">
                     <h2><span class="glyphicon glyphicon-circle-arrow-right"></span>Résultat du vote de votre album préféré :</br>
                            <span class="glyphicon glyphicon-star starvote" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                     </h2>
                     </br>
                     <table border="1" class="resultat-vote">
                     <tr>
                            <th>album </th>
                            <th>note </th>
                     </tr>   
                     {% for album in albums %}
                            <tr>
                                   {% set totalvote = 0 %}
                                   {% for vote in allVote %}
                                          {% if album.id == vote.idalbum %}
                                                 {% set totalvote = totalvote + vote.value %}
                                          {% endif %}
                                   {% endfor %}

                                   <td class="datavote">{{ album.nom }}</td>
                                   <td >{{ totalvote }}</td>
                            </tr>
                     {% endfor %}              

                           {#  <td>The Fall Of Hearts (album studio) : {{ vote.value }}</td>
                            <td>Sanctitude (album live) : {{ vote.value }}</td>
                            <td>Dethroned and Uncrowned (album studio/remixes) : {{ vote.value }}</td>
                            <td>Last Fair Day Gone Night (album live) : {{vote.value }}</td>
                            <td>Dead End Kings (album studio) : {{ vote.value }}</td>                                    <td>Night Is The New Day (album studio) : {{ vote.value }}</td>
                            <td>Live Consternation (album live) : {{ vote.value }}</td>
                            <td>The Great Cold Distance (album studio) : {{ vote.value }}</td>
                            <td>Viva Emptiness (album studio) : {{ vote.value }}</td>
                            <td>Last Fair Deal Gone Down (album studio) : {{ vote.value }}</td>
                            <td>Tonight's Decision (album studio) : {{ vote.value }}</td>
                            <td>Discouraged Ones (album studio) : {{ vote.value }}</td>
                            <td>Brave Murder Day (album studio) : {{ vote.value }}</td>
                            <td>Dance Of December Souls (album studio) : {{ vote.value }}</td> #}
                     </table></br>
              </div>
       </div>

       <div>
              <h1 id="ss-titre-disco"><span class="glyphicon glyphicon-cd"></span><u> DISCOGRAPHIE </u><span class="glyphicon glyphicon-cd azerty"></span></h1></br></br></br></br>
       </div>
       <div class="albums col-lg-12">
       	<div class="table offset-1-col-lg-10">
              	<table>

                     <tr>

                     <td class="td"><img src="{{ asset('img/Sanctitude_small.jpg') }}" class="katatonia-sanctitude-cover"></td>

                     <td class="td"><img src="{{ asset('img/Katatonia_-_Fall_Of_Hearts_small_Cover.jpg') }}" class="katatonia-fall-cover"></td>

              	</tr>
              
               	<tr>

                     <td class="td">Sanctitude (Kscope Music/2013)</td>

                     <td class="td">The Fall Of Hearts (Peaceville Rec./2016)</td>

              	</tr>
              
              	<tr>

                     <td class="td"><img src="{{ asset('img/Nightisthenewday_small_cover.jpg') }}" class="katatonia-night-is-the-new-day-cover"></td>

                     <td class="td"><img src="{{ asset('img/DeadEndKings_small_cover.jpg') }}" class="katatonia-dead-end-kings-cover"></td>

                     <td class="td"><img src="{{ asset('img/LastFairDayGoneNight_small.jpg') }}" class="katatonia-gone-night-cover"></td>

                     <td class="td"><img src="{{ asset('img/Dethroned_&_Uncrowned_small_cover.jpg') }}" class="katatonia-dethroned-cover"></td>

              	</tr>

              	<tr>

                     <td class="td">Night Is The New Day (Peaceville Rec./2009)</td>

                     <td class="td">Dead End Kings (Peaceville Rec./2012)</td>

                     <td class="td">Last Fair Day Gone Night (Peaceville Rec./2013)</td>

                     <td class="td">Dethroned & Uncrowned (Kscope Music/2013)</td>

              	</tr>
              	
              	<tr>

                     <td class="td"><img src="{{ asset('img/LiveConsternation.jpg') }}" class="katatonia-live-consternation-cover"></td>

                     <td class="td"><img src="{{ asset('img/ThegreatColdDistance_small_cover.jpg') }}" class="katatonia-great-cold-cover"></td>

                     <td class="td"><img src="{{ asset('img/VivaEmptinesssmall.jpg') }}" class="katatonia-viva-cover"></td>

                     <td class="td"><img src="{{ asset('img/Lastfairdealgonedown_small.jpg') }}" class="katatonia-gone-down-cover"></td>

              	</tr>

              	<tr>

                     <td class="td">Live Consternation (Peaceville Rec./2007)</td>

                     <td class="td">The Great Cold Distance (Peaceville Rec./2006)</td>

                     <td class="td">Viva Emptiness (Peaceville Rec./2003)</td>

                     <td class="td">Last Fair Deal Gone Down (Peaceville Rec./2001)</td>

              	</tr>

              	<tr>

                     <td class="td"><img src="{{ asset('img/Tonights_Decision_small.jpg') }}" class="katatonia-decision-cover"></td>

                     <td class="td"><img src="{{ asset('img/Discouraged_Ones_small.jpg') }}" class="katatonia-discouraged-cover"></td>

                     <td class="td"><img src="{{ asset('img/Brave_Murder_Day_small.jpg') }}" class="katatonia-brave-cover"></td>

                     <td class="td"><img src="{{ asset('img/Dance_of_December_Souls_small.jpg') }}" class="katatonia-dance-cover"></td>

              	</tr>

              	<tr>

                     <td class="td">Tonight's Decision (Peaceville Rec./1999)</td>

                     <td class="td">Discouraged Ones (Avantgarde Music/1998)</td>

                     <td class="td">Brave Murder Day (Avantgarde Music/1996)</td>

                     <td class="td">Dance Of December Souls (No Fashion Rec./1993)</td>

               	</tr>

              	</table></br></br></br>
       	</div>
       </div></br></br></br></br>

       <h1><span class="glyphicon glyphicon-book"></span><u> BIBLIOGRAPHIE </u><span class="glyphicon glyphicon-book azerty"></span></h1>
       </br></br></br>
       <div class="col-md-12 biblio">
       <div class="col-md-3 col-md-offset-1 cover-livre">
       <img src="{{ asset('img/katatonia-sousuncieldeplomb.jpg') }}" class="katatonia-livre-cover">
       </div>
       <div class="col-md-7 pitch-livre">
       <p id="ss-titre-biblio"><b>KATATONIA</b></br>
       Sous un ciel de plomb</br>
       (Edition Camion blanc/© 2015)</br>
       <u>Résumé</u> : Formé en 1991 par Jonas Renkse et Anders Nyström, Katatonia est le reflet de l’atmosphère ténébreuse qui règne à cette époque en Suède et qui contribue au développement d’un genre musical teinté de nuances gris noir. Hier formation de Doom Death réservée à quelques spécialistes, désormais groupe de Rock/Métal aux contours sonores plus modernes et accessibles, Katatonia possède, tel le dieu Janus de la Rome antique, deux visages biens distincts : le premier représente le passé, l’autre l’avenir. La dimension musicale de la formation suédoise ne s’est toutefois jamais départie de la noirceur et de la mélancolie qu’égrène chaque note de sa musique. Une posture idéologique qui, loin de consacrer son succès commercial, a néanmoins conféré à Katatonia un statut de formation emblématique, pour ne pas dire culte, de la scène Métal. Après un premier essai sur Opeth, Nicolas Bénard, docteur en histoire, et Robert Culat, prêtre catholique, proposent une nouvelle monographie à quatre mains qui vise à illustrer l’originalité de la scène métal suédoise.
       </p>
       </br>
       <p><span class="glyphicon fleche glyphicon-circle-arrow-right"></span>Pour le commander, rendez-vous à cette <a href="http://www.camionblanc.com/detail-livre-katatonia-sous-un-ciel-de-plomb-486.php"><strong>adresse</strong></a>.</p>
       </br>
       </div>
       </div>
</div>
{% endblock %}