{% extends 'base.html.twig' %}

{% block body %}

<h1><span class="glyphicon glyphicon-sunglasses"></span> <u>INTERVIEWS</u> <span class="glyphicon glyphicon-sunglasses azerty"></span></h1>
	</br></br></br>
<div class="col-md-12 intw1">
	<div class="col-md-5 col-md-offset-1 chapeau1">
		<h2><b>KATATONIA</b></h2>
		<h2>Hymne à la joie...</h2></br></br>
			<p><i><b>Après l’escapade saignante et réussie du dernier album de Bloodbath plus un CD/DVD live au Wacken, nos suédois Jonas Renkse et Anders Nyström reviennent aux affaires avec Katatonia. Ils nous livrent là un nouvel opus enivrant, Night Is The New Day, rempli de mélancolie comme à son habitude mais avec plus d’éléments progressifs et des atmosphères qui vous glacent toujours autant le cœur. En cette froide fin d’automne 2009, leur chanteur Jonas a bien voulu répondre à quelques questions…</b></i><p></br>
			<p><i><span class="glyphicon fleche glyphicon-circle-arrow-right"></span>[Interview avec Jonas Renkse (chant) réalisée par Frédéric GOVIGNON alias "Seigneur Fred", parue dans le magazine METAL OBS #36 de janvier-février 2010, page 24/44]</i></br>
			</p>
			<u>Liens de téléchargement du magazine gratuit METAL OBS ou pour consulter cette interview en ligne</u> :</br></br>
			- <span><a href="www.metalobs.com/wp-content/uploads/2013/01/MO36.pdf">METAL OBS</a></span></br>
			- <span><a href="http://www.noise-web.com/interviews/2010/0110_katatonia.htm">NOISE WEB</a><span></br>

	</div>
	<div class="col-md-6 photo-inw1">
		<img src="{{ asset('img/katatonia_1205.jpg') }}" class="katatonia-cross"></br>
	</div></br>
</div></br>
<div class="col-md-offset-1 col-md-10 col-md-offset-1 txt-intw1">
	<p><strong>Tout d’abord, peux-tu nous dire et résumer ce que Katatonia a fait depuis la sortie de votre album Live Consternation paru en 2007 ?</strong></br>
<i>Eh bien, nous avons tourné encore un peu après la sortie de notre précédent album studio puis du live. On a joué ici et là pas mal de petites dates… Et Anders et moi avons également sorti des disques avec Bloodbath entre temps.</i></p>
<p><strong>Justement, pour votre précédent album studio The Great Cold Distance, les critiques ont été très bonnes en général, aussi bien du côté de la presse que des fans. En êtes-vous pleinement satisfaits ?</strong></br>
<i>Nous sommes très contents globalement de tout ce qui touche à cet album The Great Cold Distance. Tout ce qui en a découlé a été positif en fait. Nous avons joué devant tant de publics, aussi bien dans des grandes salles que dans des festivals, avec des gens différents et au final, nous avons même pu aller tourner aux Etats-Unis pour promouvoir dignement cet album, alors que demander de plus ? (rires)</i></p>
<p><strong>Toujours au sujet de The Great Cold Distance, les photos promotionnelles de l’artwork et du groupe ont été prises près de Stockholm je crois, dans un endroit assez célèbre et plutôt sombre. Si ma mémoire est bonne, vos compatriotes d’Entombed avaient pris également des sessions photos là-bas sur ce même site dans le passé. Quel est ce lieu et pourquoi un tel choix ?</strong></br>
<i>Oui, tu as raison, c’est relativement célèbre en effet en Suède. C’est tout simplement le plus grand cimetière de Stockholm. Et tu as vu juste à propos du groupe Entombed. Ils y ont fait leur principale session photo, au même endroit, pour leur album culte Left Hand Path, à leurs débuts. Nous ne sommes pas allés là-bas pour avoir des images uniquement de la croix, comme cela a donc déjà été fait auparavant, mais on en a fait finalement quelques-unes juste pour le plaisir. Et elles se sont révélées si bonnes en fin de compte qu’on a décidé de les utiliser, en les retouchant et en les assombrissant un peu plus avec la couleur rouge ou simplement en noir & blanc, et cela donne l’artwork que vous connaissez…</i></p>
<p><strong>Maintenant, vous êtes de retour avec Night Is The New Day. Avez-vous ressenti une quelconque pression lors de sa création car il n’est jamais évident de faire mieux que le précédent ?</strong></br>
<i>Oui, nous avons ressenti une certaine pression, c’est vrai. La plupart d’entre nous était un peu tendue mais c’était une pression saine, tout simplement. Parfois, la pression permet une certaine créativité. Cela nous a permis d’étendre nos limites je pense, et ça nous a fait revoir et beaucoup retravailler le nouveau matériel composé. Et finalement cette pression nous a donc permis d’accoucher de bonnes chansons et d’obtenir un superbe nouvel album. Enfin, c’est mon opinion (rires).</i></p>
</br>
<div class="promo-photo">
	<img src="{{ asset('img/katatonia-50361c3fe4f4f.jpg') }}" class="katatonia-promo-photo">
</div>
</br></br>
<p><strong>La première chanson est très heavy avec un très bon riff d’Anders Nyström. Placé ainsi au début de l’album, c’est assez trompeur pour le public car le reste est globalement atmosphérique et progressif...</strong></br>
<i>Nous voulions véritablement un morceau d’ouverture intense, voilà tout. Je ne pense pas que ça donne une quelconque fausse impression quant à la nature générale de l’album cependant. La chanson "Forsaker" est peut-être plus dans la lignée de ce que l’on a fait par exemple sur The Great Cold Distance et cela fait ainsi la transition d’une certaine manière. Je pense donc qu’il s’agit là d’un morceau d’ouverture génial pour notre nouvel album.</i></p>
 <p><strong>A l’écoute de ce disque, certains passages font penser à vos collègues d’Opeth (“Idle Blood” et “Onward Into Battle”). Vous avez toujours évolué ensemble parallèlement, vous croisant par exemple sur le EP Sounds Of Decay. Acceptez-vous ce parallèle et que pensez-vous de cette influence mutuelle ?</strong></br>
<i>Je n’ai pas de problème à l’idée que les gens nous comparent parfois à nos amis d’Opeth, mais je pense que c’est un raccourci un peu facile d’un autre côté. Nous partageons beaucoup d’influences bien entendu et notamment des groupes avec lesquels nous sommes amis, mais je crois que nos groupes sont tout de même assez différents l’un de l’autre globalement. Certaines émotions sont communes pourtant. Et Opeth est un groupe fantastique de toute façon et ce sont de chouettes types bien évidemment. Et nous jouons d’ailleurs aux côtés de Mikael Åkerfeldt et Martin « Axe » Axenrot dans Bloobath.</i></p>
 <p><strong>Il y a un titre baptisé “Liberation” qui aurait pu très bien être le premier single de l’album selon moi. Est-ce une réaction à la chanson “Deliberation” qui figurait sur The Great Cold Distance ? Et y a-t-il des projets de vidéo clip(s) comme ce fut le cas pour le EP Deliberation sorti en 2007 ?</strong></br>
<i>Non, il n’y a pas de relation en fait avec "Deliberation". Et tu n’as pas tort car cela aurait pu très bien être un single extrait de ce nouvel album. Nous y avions pensé. Mais nous avons tourné une vidéo pour la chanson "Day & Then The Shade" qui est notre premier single finalement choisi par notre label Peaceville Records.</i></p>
<p><strong>Ce nouveau disque a été produit, mis en son et mixé par David Castillo. Qui est ce producteur et comment s’est passé l’enregistrement avec lui ?</strong></br>
<i>Durant des années, nous avons eu recours aux services de David en tant qu’ingénieur son en live. Et il a déjà également travaillé avec nous puisqu’il a enregistré les dernières sorties de Bloobath que nous avons faites ces dernières années (Unblessing The Purity et The Fathomless Mastery). Quant au mastering, il a été achevé aux Fascination Street Studios par Jens Bogren (Opeth, Amon Amarth…).</i></p>
<p><strong>L’enregistrement a eu lieu par contre dans 2 studios différents : le Studio Mega (pour la batterie) et le Ghost Ward Studio. En quoi ce dernier vous a-t-il inspirés durant le processus d’enregistrement de ce nouvel album ?</strong></br>
<i>Eh bien, le Ghost Ward Studio est situé juste à côté d’un terrain vague en quelque sorte. C’est une zone industrielle en friche avec de nombreux traînards, plein de gens louches qui se baladent et font leur petit business autour... C’était donc comme une nouvelle aventure chaque jour quand on venait au studio pour enregistrer. Cela convenait bien à l’ambiance morose de la musique et des paroles, je pense.</i></p>
</br>
<div class="promo-photo">
<img src="{{ asset('img/fuckkatatonia.png') }}" class="katatonia-boisson">
</div>
</br></br>
<p><strong>Résultat : le son est parfait et je trouve les arrangements subtils (cordes, claviers Mellotron...). Vous avez eu recours notamment à deux invités. Peux-tu nous les présenter  et nous parler de leur contribution à ce nouvel opus ?</strong></br>
<i>Frank Default a déjà travaillé avec nous auparavant sur certaines faces B pour les singles que nous avons sortis avec notre précédent album (Ndlr : "Unfurl" sur le EP July). Il y avait fait de nombreux arrangements de claviers, etc. On a donc pensé que cette fois-ci, il était temps pour lui de participer à la production entière du nouvel album. Krister Linder est un chanteur bien connu chez nous en Suède depuis les années 1980, et il est aussi un de mes 3 chanteurs favoris depuis fort longtemps ! Il évolue dans différents styles. Nous nous connaissons depuis des années et quand il a exprimé un jour l’intérêt et le désir de chanter avec moi sur ce nouveau disque, je n’ai pas hésité une seule seconde en lui disant qu’il était le bienvenu !! Le résultat est tout simplement magique !</i></p>
<p><strong>Pour conclure sur Night Is The New Day : comment pourrais-tu le présenter à un inconnu, à un étranger venu de l’espace (rires) qui n’aurait jamais entendu parler de votre musique ?</strong></br>
<i>C’est le son inconscient de quelque chose qui, doucement, va de plus en plus mal…</i></p> 
<p><strong>Et pour votre prochain album, penses-tu qu’il sortira encore en format CD et qu’on le trouvera encore en magasin ou bien uniquement en MP3 via Internet ?</strong></br>
<i>Je n’en ai aucune idée à vrai dire. Je n’avais pas pensé à cela. C’est à l’industrie musicale du disque d’arriver à trouver une solution, que ce soit à travers un nouveau format ou non. Moi, je suis juste ici pour créer de la musique…</i></p>
<p><strong>A propos de vos projets parallèles : d’abord pour Anders Nyström aka « Blackheim ». Peut-on espérer un jour un nouvel album de Diabolical Masquerade ? Si oui quand ?</strong></br>
<i>Je vais répondre pour Anders. Je ne pense pas qu’il ait un quelconque projet pour ça, désolé mec.</i></p>
<p><strong>Et maintenant pour toi et Anders : apparemment, vous viendriez jouer avec Bloodbath en France au prochain festival Hellfest édition 2010… Peux-tu confirmer car on attend cet événement avec impatience ?!!!</strong></br>
<i>Ne t’inquiète pas ! On sera bien là, pas de doute là-dessus !</i></p></br>
<div class="col-md-12"></br>
	<div class="col-md-offset-4 col-md-6 groupe-biere">
		<img src="{{ asset('img/preview.php.png') }}" class="thatsallfolks"></br>
	</div>
</div>
<div class="col-md-12 endintw1"></br>
	<div class="col-md-4 groupe-biere">
	<img src="{{ asset('img/photo-groupe-biere.png') }}" class="photo-groupe-biere">
	</div>
	<div class="col-md-4 ref-disco">
	<b>KATATONIA</b> – Night Is The New Day	(© 2009 Peaceville Records / Wagram Music)
	</div>
	<div class="col-md-3 nightintwchro">
		<img src="{{ asset('img/Nightisthenewday.jpg') }}" class="nightintwcover">
	</div></br>
</div></br></br>



{% endblock %}

